@import "tailwindcss";

body {
  font-family: var(--font-avenir), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.common-frame-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1640px;
  padding-left: 1rem;
  padding-right: 1rem;
}